build*/
build_linux*/
build_win*/
Build*/
build_linux*/
bin*/
ceres-bin*/
ceres-debug*/
BUILD_*/
vs2015*/
*.props
libs*/
nbproject*/
CMakeCache.txt
CMakeFiles*/


#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

libs/magma-2\.2\.0/sparse/control/
/src/compute.cpp.orig
